<!doctype html>
<hmtl lang = "en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <title>
            {{ title }}
        </title>
    </head>
    <body>
        <h1>
            Hello, {{ username }}. Welcome to the homepage of this project
        </h1>

    {% block title %}
        {% if title %}
            <h1>{{ title }}</h1>
        {% endif %}
    {% endblock %}

     <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </body>
</hmtl>